*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 100, 0.5)), url(images/img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    line-height: 60px;
    top: 0;
    z-index: 999;
}

.logoClass{
    text-decoration: none;
}

nav ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

nav ul li a:hover {
    border-color: #fff;
    cursor: pointer;
}

.logo{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.cafe{
    color: tomato;
}

.intro{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 300px;
    color: #fff;
}

.desc{
    width: 80%;
    margin: 50px auto;
    position: relative;
}

h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

p{
    font-size: 14px;
    line-height: 28px;
    color: #333;
    text-align: justify;
}

.gallery{
    margin: 10px 50px;
    margin-top: 80px;
    margin-bottom: 70px;

}

.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    align-items: center;
    justify-content: center;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.footer{
    margin-bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
}

.footerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col-1{
    margin-left: 50px;
    margin-top: 30px;
}

.col-1 h3{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.col-1 a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.col-2{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.col-3{
    margin-top: 30px;
    margin-right: 200px;
}

.col-3 h3{
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.col-3 a i{
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.fab {
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
  }

.copy{
    color: #fff;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

nav.black{
    background: #000;
}